body{

    
    margin: 0;
}

section{
    display: flex;
    align-items: center;
    height: 50vh;
}

#section1{
    background-color:rgb(53, 50, 50);
}

#section2{
    background-color:rgb(71, 70, 70);
}

div{
    background-color: rgba(61, 61, 61, 0.664);
    color: whitesmoke;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}