body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:rgb(114, 212, 212);
}

section{
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    width: 100%;
    text-align: center;
}